x-backend-build: &backend_build
  context: ./massage-app-backend
  dockerfile: Dockerfile

x-backend-env: &backend_env
  APP_ENV: local
  APP_DEBUG: "true"
  DB_CONNECTION: pgsql
  DB_HOST: db
  DB_PORT: 5432
  DB_DATABASE: massage_app
  DB_USERNAME: pedram
  DB_PASSWORD: pedram_fm

services:
  db:
    image: docker.arvancloud.ir/postgres:16
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: pedram
      POSTGRES_PASSWORD: pedram_fm
      POSTGRES_DB: massage_app
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U pedram -d massage_app -h 127.0.0.1"]
      interval: 5s
      timeout: 5s
      retries: 10
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  mailpit:
    image: docker.arvancloud.ir/axllent/mailpit:latest
    container_name: mailpit
    restart: always
    ports:
      - "1025:1025"
      - "8025:8025"

  backend:
    build: *backend_build
    container_name: laravel_api
    working_dir: /var/www
    user: root
    command: sh /var/www/docker/start.sh php-fpm -F
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./massage-app-backend:/var/www
    expose:
      - "9000"
    environment: *backend_env
    depends_on:
      db:
        condition: service_healthy
      mailpit:
        condition: service_started

  backend-init:
    build: *backend_build
    container_name: laravel_api_init
    working_dir: /var/www
    user: root
    command: sh /var/www/docker/init.sh
    volumes:
      - ./massage-app-backend:/var/www
    environment: *backend_env
    depends_on:
      db:
        condition: service_healthy
    profiles:
      - init

  nginx:
    image: docker.arvancloud.ir/nginx:1.25
    container_name: laravel_nginx
    depends_on:
      - backend
    ports:
      - "8000:80"
    volumes:
      - ./massage-app-backend:/var/www
      - ./massage-app-backend/docker/nginx.conf:/etc/nginx/conf.d/default.conf:ro

  frontend:
    image: docker.arvancloud.ir/node:20
    container_name: next_app
    working_dir: /app
    command: sh -c "npm install --legacy-peer-deps && npm run dev -- --hostname 0.0.0.0"
    volumes:
      - ./massage-app-frontend:/app
    ports:
      - "3000:3000"
    environment:
      API_BASE_URL: http://nginx
    depends_on:
      - backend

volumes:
  db_data:
